CompilationDatabase: .
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Remove: "*"  # Remove all clang-tidy checks
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
Index:
  Background: Build